{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>bookings</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  height:47px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}


    </style>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-stand-blog.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}">
<!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg"  style="background-color:linen;">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>medlife lab<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
       <div class="heading-page header-text">
        <section class="page-heading" style="background-image: url({% static 'assets/images/lab bg.jpg'%})">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                 <center>
              <br>
          <form method="post" class="example" action="mybooking" style="margin:auto;max-width:300px">
              {% csrf_token %}
              <input type="text" name="number" placeholder="Enter your phone number">
               <button type="submit"><i class="fa fa-search"></i></button>
          </form>
              </center>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


    <!-- Banner Ends Here -->
      {% for i in mine %}
    <section class="call-to-action">

      <div class="container">

        <div class="row">

          <div class="col-lg-12">

            <div class="main-content">
              <div class="row">

                <div class="col-lg-8">
                  <span>Name: {{i.name}}</span>
                  <p>Email: {{i.email}}</p>
                  <p>Phone: {{i.phone}}</p>
                  <p>Age: {{i.age}}</p>
                  <p>Date: {{i.date}}</p>
                  <p>message: {{i.message}}</p>
                  <h4>Test: {{i.test}}</h4>

                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a rel="nofollow" href="delete/{{i.id}}"><p style="color:red;"><b>Cancel</b></p></a>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

    </section>
 {% endfor %}
    <div style="background-color:black;">
        {% for m in messages %}
        <h4 style="color:red"> {{m}}</h4>
        {% endfor %}

    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Whatsapp</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Copyright 2020 shamilriju.
                    
                 | Design: <a rel="nofollow" href="#" >shamil</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js'%}"></script>
    <script src="{% static 'assets/js/owl.js'%}"></script>
    <script src="{% static 'assets/js/slick.js'%}"></script>
    <script src="{% static 'assets/js/isotope.js'%}"></script>
    <script src="{% static 'assets/js/accordions.js'%}"></script>


  </body>
</html>